* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote {
  max-width: 45ch;
  font-family: 'Karla', sans-serif;
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: 700;

  &__mark {
    padding: 2px;
  }

  &__author {
    max-width: 45ch;
    margin-top: 2rem;
    align-self: center;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
}

.menu {
  position: fixed;
  top: 25px;
  right: 25px;

  &__list {
    display: inline-block;
  }

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
}

.icon {
  height: 1.5rem;
}
