* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;

  margin-bottom: 4rem;
  background-color: #fffdd0;
  padding: 1rem 2rem;
  border-radius: 8px;

  &__title {
    margin-bottom: 0.75rem;
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__btn {
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.25rem;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
  }
}

.quote {
  max-width: 45ch;
  font-family: 'Karla', sans-serif;
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: 700;

  &__mark {
    padding: 2px;
  }

  &__author {
    max-width: 45ch;
    margin-top: 2rem;
    align-self: center;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
}

.menu {
  position: fixed;
  top: 25px;
  right: 25px;

  &__list {
    display: inline-block;
  }

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
}

.icon {
  position: absolute;

  &__copy {
    height: 1.5rem;
  }
}

[data-tooltip] {
  position: relative;
  color: red;
  text-decoration: none;
  &:before {
    position: relative;
    z-index: 2;
    top: 30%;
    right: 80%;
    padding: 0.5em 1em;
    white-space: nowrap;
    content: attr(data-tooltip);
    color: #111;
    font-size: 1em;
    line-height: 1.7em;
    background-color: white;
    opacity: 0;
    transform: translate(-50%, 0);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-out;
    pointer-events: none;
  }
  &:after {
    position: absolute;
    z-index: 3;
    display: block;
    top: 67%;
    right: 110%;
    width: 10px;
    height: 10px;
    margin-bottom: -4px;
    content: '';
    background-color: white;
    opacity: 0;
    transform: translate(-50%, 0) rotate(45deg);
    transition: transform 0.2s ease-out;
    pointer-events: none;
  }
  &:hover,
  &:focus {
    &:before {
      opacity: 1;
      transform: translate(-50%, -10px);
    }
    &:after {
      opacity: 1;
      transform: translate(-50%, -10px) rotate(45deg);
    }
  }
}
